@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

/* 
font-family: 'Raleway', sans-serif; 400 | 700
font-family: 'Open Sans', sans-serif; 400
*/

:root {
    --P-Very-Dark-Blue: hsl(243, 87%, 12%);
    --P-Desaturated-Blue: hsl(238, 22%, 44%);
    --A-Bright-Blue: hsl(224, 93%, 58%);
    --A-Moderate-Cyan: hsl(170, 45%, 43%);
    --Light-Grayish-Blue: #F8F8FE;
    --Light-Gray: hsl(0, 0%, 75%);

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
    color: var(--P-Very-Dark-Blue);
}

/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vw;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li a {
    margin-left: 3.6em;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: var(--P-Very-Dark-Blue);
}

header ul li a:hover {
    text-decoration: underline;
    color: var(--A-Bright-Blue);
}

/* Hero Section */
#hero .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12em;    /* Check later?! */
}

.left {
    width: 50%;
}

.right {
    width: 47%;
}

.right img {
    width: 100%;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.4rem;
    line-height: 1.5em;
    margin-bottom: 1rem;
}

p {
    font-size: 1.05rem;
    color: var(--P-Desaturated-Blue);
    margin-bottom: 1.05rem;
    padding-right: 5em;
}

#hero input {
    width: 50%;
    height: 3em;
    border: 1px solid var(--P-Very-Dark-Blue);
    border-radius: 3px;
    padding-left: 1em;
    font-size: 1rem;
}

#hero input::placeholder {
    color: var(--Light-Gray);
}

#hero button {
    width: 30%;
    height: 3em;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    background-color: var(--A-Bright-Blue);
    color: var(--Light-Grayish-Blue);
    margin-left: 1em;
    cursor: pointer;
}

/* Demo Section */
.bg-curve {
    width: 100%;
}

.bg-curve img {
    width:100%;
    vertical-align: bottom;
}

#demo {
    background-color: var(--Light-Grayish-Blue);
    padding: 5em 0;
}

#demo .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#demo button {
    /* width: 30%; */
    border: none;
    border-bottom: 1px solid var(--A-Moderate-Cyan);
    background-color: var(--Light-Grayish-Blue);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: .4em 0;
    cursor: pointer;
}

#demo button a {
    color: var(--A-Moderate-Cyan);
    text-decoration: none;
    font-size: 1.1rem;
    letter-spacing: .03em;
    margin-right: .5em;
}

#demo .card {
    background-color: white;
    border-radius: 5px;
    padding: 2em;
    margin: 3em 0;
    width: 60%;
    box-shadow: 0 0 15px 0 rgb(230, 230, 240);
}

#demo .card p {
    padding: 0;
    font-size: .95rem;
    line-height: 1.5rem;
}

.card .user {
    font-size: .6rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card .user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1em;
}

.card .user h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/* SignUp Section */
#sign-up {
    background-color: var(--P-Desaturated-Blue);
    padding: 5em 0;
}

#sign-up .container {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sign-up .right {
    width: 45%;
}

#sign-up p {
    color: var(--Light-Grayish-Blue);
    padding-right: 7em;
}

#sign-up form {
    display: flex;
    flex-direction: column;
}

#sign-up input {
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 3px;
    padding-left: 1em;
    font-size: 1rem;
}

#sign-up input::placeholder {
    color: var(--Light-Gray);
}

#sign-up button {
    width: 40%;
    height: 3em;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    background-color: var(--A-Bright-Blue);
    color: var(--Light-Grayish-Blue);
    margin-top: 1em;
    cursor: pointer;
}

.attribution { 
    font-size: 12px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}